@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

main {
    background-color: #fff;
}

div {
    display: block;
}

.sub-title,
.title-head {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.title-head {
    font-size: 1.5rem;
    font-weight: 700;
}

.blue-button {
    outline: none;
    background: #2881c3;
    box-shadow: none;
    border: 1px solid #2881c3;
    box-sizing: border-box;
    border-radius: 333px;
    color: #fff;

    font-size: 1rem;
    width: 50%;
    padding: 0.3rem 0;
    color: #fff;
}

body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-color: #fff;
}

.blacK {
    color: #000;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*header*/
.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    /* padding: 15px; */
}

.pre-header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #112a53;
    color: white;
}

.pre-header>p {
    margin-bottom: 0;
}

.pre-header>p>span {
    color: #fbc774;
    font-weight: bold;
    padding-bottom: 10px;
}

.header-main {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    /* border-radius: 4px; */
}

.header .logo {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #e91e63;
    font-weight: 600;
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    /* position: relative; */
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    position: absolute;
    left: 0;
    top: 105%;
    background-color: #ffffff;
    padding: 10px 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000000;
    position: relative;
    right: 20px;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span:after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 991px) {
    .header .logo {
        position: relative;
        right: 50px;
        top: -2px;
    }

    .header .pre-header p {
        font-size: 14px;
    }

    .header .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .header .nav-menu {
        position: fixed;
        left: 0px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #fff;
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu>.menu-item>a {
        color: #000;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        text-align: left;
        color: #000;
        border-bottom: 1px solid #333333;
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}

.v-main {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
}

.v-main__wrap {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
}

#competitions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#competitions,
#competitions .banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#competitions .banner-container {
    position: relative;
}

img {
    border-style: none;
}

#competitions .banner-container .banner-img {
    width: 100%;
}

#competitions .banner-container .banner-img-mobile {
    display: none;
    width: 100%;
}

#competitions .banner-container .banner-container-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 8%;
    top: 20%;
    width: 60%;
}

#competitions .banner-container .banner-container-text .title-head {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

#competitions .banner-container .banner-container-text .content {
    width: 60%;
    font-size: 1.25rem;
    font-weight: 400;
    color: #f0f0f0;
}

#competitions .live-competitions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    width: 100%;
}

#competitions .live-competitions .live-competitions-title {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    width: 71%;
}

#competitions .live-competitions .live-competitions-title .live {
    width: 19px;
    height: 19px;
    background: #9bc157;
    border-radius: 50%;
}

#competitions .live-competitions .live-competitions-title .sub-title {
    font-size: 1.5rem;
    margin: 0 1rem;
}

#competitions .live-competitions .live-competitions-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 71%;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item {
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 3rem;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details {
    display: flex;
    flex-direction: column;
    width: 52%;
    border-radius: 20px 0 0 20px;
    padding: 2rem;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .title-head {
    font-weight: 600;
    margin: 1.5rem 0;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .registrations-container {
    display: flex;
    align-items: center;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .registrations-container .img {
    display: flex;
    align-items: center;
    width: 25px;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .registrations-container .content {
    font-weight: 700;
    color: #2881c3;
    margin: 0 1rem;
}

.timer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.timer-container .img {
    display: flex;
    align-items: center;
    width: 25px;
    margin-top: 1.5rem;
}

.timer-container .content {
    font-weight: 500;
    color: #2881c3;
    margin: 1.5rem 1rem 0;
}

.timer-container .countdown {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.timer-container .countdown .timer {
    background: #2881c3;
    color: #fff;
    padding: 0 0.4rem;
    margin: 0 0.3rem;
    border-radius: 3px;
}

.timer-container .countdown .timer:first-of-type {
    margin-left: 0;
}

.timer-container .countdown .timer-colon {
    font-weight: 500;
    color: #2881c3;
    font-size: 1rem;
    font-family: Roboto;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .button-container {
    width: 39%;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .details .button-container .blue-button {
    width: 100%;
    padding: 0.75rem;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: inherit;
    border-radius: 0 20px 20px 0;
    background-size: cover;
    background-position: 50%;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .video .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: 100%;
}

#competitions .live-competitions .live-competitions-items .live-competitions-item .video .overlay .play {
    display: none;
}

#competitions .past-competitions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#competitions .past-competitions .past-competitions-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71%;
    margin: 2.5rem 0;
}

#competitions .past-competitions .past-competitions-title .sub-title {
    font-size: 1.5rem;
}

#competitions .past-competitions .past-competitions-title .utility {
    display: flex;
    align-items: center;
    justify-content: center;
}

#competitions .past-competitions .past-competitions-title .utility .search-competitions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    margin: 0 1rem 0 0;
    border: 1px solid #c8c8c8;
    height: 30px;
    border-radius: 333px;
}

#competitions .past-competitions .past-competitions-title .utility .search-competitions .search-competitions-input {
    border: none;
    outline: none;
    padding: 0 0.3rem;
    width: 125px;
    box-shadow: none;
    font-size: .875rem;
    font-family: Roboto;
    font-weight: 500;
    color: #303030;
}

.v-menu {
    display: none;
}

#competitions .past-competitions .past-competitions-title .utility .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    border: 1px solid #c8c8c8;
    height: 30px;
    border-radius: 333px;
    cursor: pointer;
}

#competitions .past-competitions .past-competitions-title .utility .sort .sort-text {
    font-size: .875rem;
    font-family: Poppins;
    font-weight: 500;
    color: #303030;
    padding: 0 0.5rem;
}

#competitions .past-competitions .past-competitions-card-container {
    display: flex;
    width: 71%;
    flex-wrap: wrap;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    border-radius: 12px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%);
    margin: 0 2% 2rem 0;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    border-radius: 12px 12px 0 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: 100%;
    background-color: rgba(48, 48, 48, .5);
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail .overlay .video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-right: 1.25rem;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail .overlay .video img {
    width: 100%;
    max-width: 62px;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail .overlay .competition-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    margin-left: 1.75rem;
    height: 128px;
    border-radius: 50%;
    background-color: #fff;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .thumbnail .overlay .competition-type img {
    width: 80%;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 0 0 12px 12px;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .sub-title {
    color: #303030;
    width: 100%;
    margin-bottom: 1rem;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .registrations-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .registrations-container .content {
    font-weight: 700;
    color: #2881c3;
    margin: 0 1rem;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .calender-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .calender-container .content {
    font-weight: 700;
    color: #2881c3;
    margin: 0 1rem;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .button-container {
    width: 100%;
    margin-top: auto;
}

#competitions .past-competitions .past-competitions-card-container .past-competitions-card .details .button-container .blue-button {
    width: 100%;
    padding: 0.5rem 0;
}


/* making responsive */

@media screen and (max-width: 500px) {
    #competitions .banner-container .banner-img {
        display: none;
    }

    #competitions .banner-container .banner-img-mobile {
        display: initial;
        background-image: linear-gradient(180deg, #0092cc 0, #0082c9);
    }

    #competitions .banner-container .banner-container-text {
        align-items: center;
        width: 90%;
        left: auto;
        top: 12.5%;
    }

    #competitions .banner-container .banner-container-text .title-head {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    #competitions .banner-container .banner-container-text .content {
        width: 100%;
        font-size: .875rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #competitions .live-competitions .live-competitions-title .live {
        width: 15px;
        height: 15px;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item {
        flex-direction: column;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details {
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 1rem;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .registrations-container .content {
        margin: 0 0.5rem;
    }

    .timer-container .content {
        margin: 1.5rem 0.5rem 0;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .video {
        width: 100%;
        height: 300px;
        border-radius: 0 0 20px 20px;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .video .overlay {
        border-radius: 0 0 20px 20px;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .button-container {
        width: 100%;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .video {
        width: 100%;
        height: 300px;
        border-radius: 0 0 20px 20px;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .video .overlay {
        border-radius: 0 0 20px 20px;
    }

    #competitions .past-competitions .past-competitions-title .utility .search-competitions {
        border: none;
        padding: 0;
        margin: 0 1.5rem 0 0;
    }

    #competitions .past-competitions .past-competitions-title .utility .search-competitions .search-competitions-input {
        display: none;
    }

    #competitions .past-competitions .past-competitions-title .utility .sort {
        padding: 0;
    }

    #competitions .past-competitions .past-competitions-card-container {
        width: 90%;
    }

    #competitions .past-competitions .past-competitions-card-container .past-competitions-card {
        flex-basis: 100%;
        margin: 0 0 2rem;
    }
}


@media screen and (max-width: 750px) {
    #competitions .banner-container .banner-container-text .title-head {
        font-size: .9rem;
        margin-bottom: 0.5rem;
    }


    #competitions .banner-container .banner-container-text .content {
        font-size: .75rem;
        width: 80%;
    }
}

@media screen and (max-width:800px) {
    #competitions .live-competitions .live-competitions-title {
        width: 90%;
    }

    #competitions .live-competitions .live-competitions-title .sub-title {
        font-size: 1.25rem;
        margin: 0 1rem;
    }

    #competitions .live-competitions .live-competitions-items {
        width: 90%;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .title-head {
        font-size: 1.125rem;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .registrations-container .content {
        font-size: .875rem;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .button-container {
        width: 80%;
    }

    #competitions .past-competitions .past-competitions-title {
        width: 90%;
    }

    #competitions .past-competitions .past-competitions-title .sub-title {
        font-size: 1.25rem;
    }

    #competitions .past-competitions .past-competitions-title .utility .search-competitions .search-competitions-input {
        width: 100px;
    }

    #competitions .past-competitions .past-competitions-title .utility .sort {
        border: none;
        border-radius: none;
    }

    #competitions .past-competitions .past-competitions-title .utility .sort .expand,
    #competitions .past-competitions .past-competitions-title .utility .sort .sort-text {
        display: none;
    }

    #competitions .past-competitions .past-competitions-card-container {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    #competitions .banner-container .banner-container-text .title-head {
        font-size: 1.25rem;
    }

    #competitions .banner-container .banner-container-text .content {
        font-size: .875rem;
    }

    .timer-container .content {
        font-size: .875rem;
    }
}

@media screen and (max-width:1050px) {

    #competitions .live-competitions .live-competitions-items,
    #competitions .live-competitions .live-competitions-title {
        width: 85%;
    }

    #competitions .live-competitions .live-competitions-items,
    #competitions .live-competitions .live-competitions-title {
        width: 85%;
    }

    #competitions .live-competitions .live-competitions-items .live-competitions-item .details .button-container {
        width: 60%;
    }

    #competitions .past-competitions .past-competitions-card-container,
    #competitions .past-competitions .past-competitions-title {
        width: 85%;
    }

    #competitions .past-competitions .past-competitions-card-container,
    #competitions .past-competitions .past-competitions-title {
        width: 85%;
    }

    #competitions .past-competitions .past-competitions-card-container .past-competitions-card {
        flex-basis: 100%;
    }
}

@media screen and (max-width:1200px) {
    #competitions .banner-container .banner-container-text .title-head {
        font-size: 1.75rem;
    }

    #competitions .banner-container .banner-container-text .content {
        font-size: 1rem;
    }
}